.task-marker {
  stroke: #032706;
  stroke-width: 1;
  filter: drop-shadow(0 0 4px rgba(100, 255, 218, 0.5));
}

/* Failed Task Styles */
.failed-task-marker { 
  fill: #ff0000;
  r: 3;
}

.failed-task-x { 
  stroke: white; 
  stroke-width: 1; 
}

/* Multi-satellite Task Styles */
.multi-sat-marker {
  stroke: #032706;
  stroke-width: 1;
  filter: drop-shadow(0 0 4px rgba(100, 255, 218, 0.5));
}

.multi-sat-inner {
  fill: rgba(255, 255, 255, 0.6);
  stroke: none;
}